@font-face {
  font-family: Playfair;
  src: url("../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
* {
  font-family: Playfair;
}
html{
  scroll-behavior: smooth;
}

body {
  background-color: #ede8d0;
  font-family: Playfair;
  width: 100%;
  overflow-x: hidden;
}

#science {
  display: none;
  color: #ede8d0;
  
}

.title {
  width: 100%;
  text-align: center;
  /* border: 1px black solid; */
  font-size: 48px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 20px;
}

.topSettings {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: #c9c5b1;
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 56px;
  margin-left: 40px;
}
.dot2 {
  height: 75px;
  width: 75px;
  background-color: #4f4d46;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  color: #ede8d0;
  margin-right: 40px;
}
.dot > a {
  color: black;
  text-decoration: none;
}

.dot2 > a {
  color: #ede8d0;
  text-decoration: none;
}

#up{
    position: fixed;
    top: 80vh;
    right: 5vw;
}

.topSettings > input {
  width: 80%;
  background-color: #c9c5b1;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  padding: 0px 50px 0px 50px;
  background-image: url(../assets/icons/Search--Streamline-Carbon.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 30px;
}

.topSettings > input:focus {
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid black; */
}
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 15px;
}

.card {
  height: 450px;
  width: 150px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 240px 100px 20px 20px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
}
.card > .image > img {
  height: 200px;
  max-width: 100%;
}
.image {
  overflow: hidden;
}
.bookTitle{
  font-size: 20px;
  font-weight: bold;
}
.bookAuthor{
  font-size: 16px;
}
.bookPrice{
  font-size: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 200px;
  height: 400px;
  border-radius: 50px;
  max-width: 640px;
  background-color: #ede8d0;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  /* font-weight: bold; */
  transition: opacity 2s;
  color: black;
}
#descp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
hr{
  width: 100%;
}

#descpTitle{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#descpText{
  font-size: 16px;
}
.descpTags{
  width: 200px;
  display: flex;
  font-size: 12px;
  gap: 5px;
  flex-wrap: wrap;
}
.tag{
  background-color: #c9c5b1;
  border-radius: 15px;
  padding: 5px;
}


#orderForm {
  display: none;
  font-weight: bold;
}

label {
  /* border: 1px solid black; */
  margin-left: 8px;
  color: black;
}

.popupClose {
  margin-left: 180px;
  width: 200px;
  /* border: 1px solid black; */
  width: 25px;
}
.popupInput {
  border-radius: 40px;
  border: none;
  background-color: #c9c5b1;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  color: black;
}
.popupInput:focus {
  outline: none;
}

.submit {
  width: 200px;
  display: flex;
  justify-content: center;
}
.submit > input, #buyButton {
  border-radius: 20px;
  border: none;
  background-color: #c9c5b1;
  height: 40px;
  width: 80px;
  font-size: 16px;
  font-weight: 700;
}

.submit > input:active , #buyButton:active {
  background-color: #848277;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .grid {
    grid-template-columns: repeat(2, 200px);
    gap: 15px 50px;
  }
}

/*md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 40%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .grid {
    grid-template-columns: repeat(3, 200px);
    gap: 15px 50px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 40%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .topSettings > input {
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(3, 200px);
    gap: 15px 100px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 40%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .topSettings > input {
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(4, 200px);
    gap: 15px 100px;
    /* border: 1px black solid; */
  }
}

/* xxl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 40%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .topSettings > input {
    width: 100%;
  }
}
