@font-face {
  font-family: Playfair;
  src: url("../assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}
* {
  font-family: Playfair;
}
html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  background-color: #ede8d0;
  font-family: Playfair;
  width: 100%;
  margin: 0;
  overflow-x: clip;
}

#science {
  color: #ede8d0;
  animation: toScience 1s;
  background-color: #1e1e1e;
}
#literature {
  animation: toLiterature 1s;
}

@keyframes toScience {
  0% {
    background-color: #ede8d0;
    color: black;
  }

  100% {
    background-color: #1e1e1e;
    color: #ede8d0;
  }
}

@keyframes toLiterature {
  0% {
    background-color: #1e1e1e;
    color: #ede8d0;
  }

  100% {
    background-color: #ede8d0;
    color: black;
  }
}

.title {
  width: 100%;
  text-align: center;
  /* border: 1px black solid; */
  font-size: 46px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  padding-bottom: 20px;
}

.topSettings {
  /* border: 1px solid black; */
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.dot {
  height: 75px;
  width: 75px;
  background-color: #c9c5b1;
  border-radius: 50%;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 56px;
}
.dot2 {
  height: 75px;
  width: 75px;
  background-color: #4f4d46;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  color: #ede8d0;
}
.dot3 {
  height: 50px;
  width: 50px;
  background-color: #c9c5b1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.dot > a,
.dot3 > a {
  color: black;
  text-decoration: none;
}

.dot2 > a {
  color: #ede8d0;
  text-decoration: none;
}

#up {
  position: fixed;
  top: 80vh;
  right: 5vw;
  z-index: 0;
}

.topSettings > input {
  width: 40%;
  background-color: #c9c5b1;
  height: 50px;
  border: none;
  font-size: 20px;
  border-radius: 25px;
  padding: 0px 50px 0px 50px;
  background-image: url(../assets/icons/Search--Streamline-Carbon.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 30px;
  margin: 0px;
}

.topSettings > input:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid black; */
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 15px;
  justify-content: center;
  /* border: 1px solid black; */
}

.card {
  height: 450px;
  width: 150px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 240px 100px 20px 20px;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.card > .image > img {
  height: 200px;
  max-width: 100%;
}
.image {
  overflow: hidden;
}
.bookTitle {
  font-size: 20px;
  font-weight: bold;
}
.bookAuthor {
  font-size: 16px;
}
.bookPrice {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 200px;
  height: 400px;
  border-radius: 50px;
  max-width: 640px;
  background-color: #ede8d0;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: column;
  gap: 4px;
  font-size: 18px;
  /* font-weight: bold; */
  transition: opacity 2s;
  color: black;
  overflow-y: scroll;
  scrollbar-width: none;
  animation: pop 500ms;
}
#cartItemsParent {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.cartItemChild {
  width: 230px;
  height: 50px;
  background-color: #c9c5b1;
  overflow: hidden;
  display: flex;
  border-radius: 20px;
  padding: 5px;
}
.cartTitle {
  width: 90%;
  height: 100%;
  /* border: red 1px solid; */
  padding-left: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartOrderButton {
  display: flex;
  justify-content: center;
}

@keyframes pop {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

#descp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
hr {
  width: 100%;
}

#descpTitle {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

#descpText {
  font-size: 16px;
}
.descpTags {
  width: 200px;
  display: flex;
  font-size: 12px;
  gap: 5px;
  flex-wrap: wrap;
  margin: 10px;
}
.tag {
  background-color: #c9c5b1;
  border-radius: 15px;
  padding: 5px;
}

#orderForm {
  display: none;
  font-weight: bold;
  animation: pop 1s;
}
#orderForm2 {
  display:none;
  font-weight: bold;
  animation: pop 1s;
}

label {
  /* border: 1px solid black; */
  margin-left: 8px;
  color: black;
}

.popupClose {
  margin-left: 180px;
  width: 200px;
  /* border: 1px solid black; */
  width: 25px;
}
.popupInput {
  border-radius: 40px;
  border: none;
  background-color: #c9c5b1;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  color: black;
}
.popupInput:focus {
  outline: none;
}

.submit {
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.submit > input,
#buyButton,
.buyButton {
  border-radius: 20px;
  border: none;
  background-color: #c9c5b1;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: 700;
}

.submit > input:active,
#buyButton:active,
.buyButton:active {
  background-color: #848277;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .grid {
    grid-template-columns: repeat(2, 200px);
    gap: 15px 50px;
  }
  .topSettings > input{
    width: 70%;
  }
}

/*md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 50%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .topSettings > input{
    width: 50%;
  }
  .nav {
    justify-content: space-between;
  }
  .grid {
    grid-template-columns: repeat(3, 200px);
    gap: 15px 50px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 40%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .topSettings > input {
    width: 60%;
  }
  .grid {
    grid-template-columns: repeat(3, 200px);
    gap: 15px 100px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 40%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .topSettings > input {
    width: 60%;
  }
  .grid {
    grid-template-columns: repeat(4, 200px);
    gap: 15px 100px;
    /* border: 1px black solid; */
  }
}

/* xxl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  .title {
    width: 50%;
    /* border: 1px solid black; */
  }
  .topSettings {
    width: 50%;
    gap: 10px;
    justify-content: flex-start;
    height: 30px;
    margin-top: 30px;
  }
  .nav {
    justify-content: space-between;
  }
  .topSettings > input {
    width: 70%;
  }
}
